<% provide(:title, "現在地から探す") %>

<div class="container my-5">
  <section class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1 class="title-border h2 px-4 pb-2"><i class="fas fa-map-marked-alt"></i>現在地から探す</h1>
    </div>
    <%= render "shared/gmap" %>
  </section>
</div>
