<section class="row mt-5">
  <div class="col-12 d-flex justify-content-center">
    <div class="text-center">
      <h5>投稿されたレビューはありません</h5>
      <p>利用した感想を投稿してみてね！</p>
    </div>
  </div>
</section>
