<section class="row mt-5">
  <div class="col-12 d-flex justify-content-center">
    <div>
      <h5>入力されたエリア・キーワードに該当する施設は見つかりませんでした！</h5>
      <p>こんな風に検索してみよう！エリア検索 [例:東京都]・キーワード検索 [例:授乳室]</p>
      <%= link_to new_store_path, class:"btn btn-lg btn-outline-warning mt-5 d-flex justify-content-center" do %>
        <i class="far fa-edit"></i>施設の投稿はこちら
      <% end %>
    </div>
  </div>
</section>
