<section class="tab-pane fade show active" id="store_index" role="tabpanel" aria-labelledby="store_index_tab">
  <div class="container">
    <section class="row">
      <div class="col-12 my-5">
        <h4><%=user.name %>さんが紹介してくれた施設の一覧</h4>
      </div>
    </section>
    <div id ="index_paginate1" class="paginate-1 mb-3">
      <%= render 'shared/paginate', pages: stores, page_name: 'index_page' %>
    </div>
    <div id="index_stores_list">
      <%= render 'shared/stores_list', stores: stores %>
    </div>
    <div id ="index_paginate2" class="paginate-2 mt-3">
      <%= render "shared/paginate", pages: stores, page_name: 'index_page' %>
    </div>
  </div>
</section>
