<section class="row mt-5">
  <div class="col-12 d-flex justify-content-center">
    <div>
      <h5 class="text-center">まだ施設が投稿されていません</h5>
      <%= link_to new_store_path, class:"btn btn-lg btn-outline-warning mt-5 d-flex justify-content-center" do %>
        <i class="far fa-edit"></i>ここから施設を投稿してみよう！
      <% end %>
    </div>
  </div>
</section>
