<div class="container">
  <div class="row">
    <div class="col-12 my-5 d-flex justify-content-center">
      <h2><i class="fas fa-crown"></i>レビューランキング</h2>
    </div>
  </div>
    <div id ="paginate1" class="paginate-1 mb-3">
    <%= render 'shared/paginate', pages: @stores, page_name: 'rank_page' %>
  </div>
  <div id="ranks_list">
    <%= render 'ranks_list', stores: @stores %>
  </div>
  <div id ="paginate2" class="paginate-2 mt-3">
    <%= render 'shared/paginate', pages: @stores, page_name: 'rank_page' %>
  </div>
</div>
