<section class="section">
  <div class="top-image">
    <%= image_pack_tag("media/images/home_image.jpg", class:"top-image-view d-block")%>
  </div>
  <div class="top-card col-md-8 text-center">
    <p class="mb-0 pt-3">
      <span class="m-2">さぁ 家族で出かけよう</span>
    </p>
    <h1 class="site-title">
      <span class="m-5">Baby_Go</span>
    </h1>
  </div>
</section>
