<section class="section">
  <div class="top-image">
    <%= image_pack_tag("media/images/home_image.jpg", class:"top-image-view d-block", alt: "トップ画像")%>
    <div class="top-card col-md-8 col-xs-12 text-center">
      <p class="mb-0">
        <span class="m-2">さぁ 家族で出かけよう</span>
      </p>
      <h1 class="site-title">
        <span class="m-5">Baby_Go</span>
      </h1>
      <p class="d-none d-md-block mb-0 mt-1">
        <span class="m-2">Baby_Goは赤ちゃんと一緒にお出かけできるスポットを共有・検索できるサイトです</span>
      </p>
    </div>
  </div>
  <p class="top-sm-info d-sm-block d-md-none m-1 mb-5 p-2">
    <span>Baby_Goは赤ちゃんと一緒にお出かけできるスポットを共有・検索できるサイトです</span>
  </p>
</section>

<section>
  <div class="container mb-5">
    <div class="row d-flex justify-content-center">
      <div class="title-border col-lg-4 col-10 my-2 text-center">
        <h2><i class="fas fa-crown"></i>レビューランキング</h2>
      </div>
    </div>
    <%= render "ranking", stores: @rank_store %>
  </div>
</section>

<section>
  <div class="container mb-5">
    <div class="row d-flex justify-content-center">
      <div class="title-border col-10 my-2 text-center">
        <h2><i class="fas fa-map-marked-alt"></i>現在地から探す</h2>
      </div>
        <%= render "shared/gmap" %>
    </div>
  </div>
</section>

<%= render "shared/scroll" %>
