@import "bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
}

// 共通アラート
.alert {
  margin: 0;
  border-radius: 0;
}

.alert-notice {
  color: white;
  background-color: rgb(10, 129, 233);
}

.alert-alert {
  color: aliceblue;
  background-color: rgba(255, 0, 0, 0.671);
}

// ヘッダー
.nav-color {
  background-color: #e6a40f;
  a {
    color: #ffffff;
  }
}

.dropdown-menu {
  a {
    color: black;
  }
}

.btn-outline-light:hover {
background-color: #e6a40f;
}

// フッター
.footer {
background-color: #e6a40f;
  span {
    color: #ffffff;
  }
}

// top.html.erb
.top-image{
  width: 100%;
  position: relative;
}

.top-image-view {
  width: 100%;
  height: 80%;
}

.top-card {
  color: #2c2c2f;
  background: #ffffff;
  opacity: 0.7;
  position: absolute;
  bottom: 20%;
  right: 5%;
  padding: 10px;
}

.top-sm-info {
  font-size: 0.9em;
  text-align: center;
  background-color: #ffc10778;
}

.title-border {
  border-bottom: .5rem solid #ffc10778;
}

#back {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  background-color: rgb(255, 238, 205);
}
.scroll{
  width:      60px;
  height:     60px;
}

// アイコン　far fa-heart
.favorite-icon  a {
  font-size: 20px;

  svg {
      color: rgb(255, 0, 170)
      ;
  }
}

// googlemap
#map {
  height: 400px;
  width: 80%;
}
@media only screen and (max-device-width : 480px) {
  /* スマートフォンだけ以下を適用 */
  #map {
    height: 400px;
    width: 100%;
  }
}

//　stores/new.html.erb stores/show.html.erb
.s-option-field {
  padding: 2rem;
  background-color: antiquewhite;
  border-radius: 10px;
}
.r-option-field {
  padding: 2rem;
  background-color: rgb(140, 213, 255);
  border-radius: 10px;
}

.form-check {
  margin: 0.5rem 1rem 0.5rem 0;
}

// review_form.html.erb
.review-form {
  background-color: #ffb3077a;
  padding: 30px;
  border-radius: 30px;
}

// stores/show.html.erb
.store-table {
  th {
    width: 100px;
  }
}